<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
</head>

<body>

 <div class="login">
	<h1>Predict Food Sales</h1>
	
	<!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="id" placeholder="Id" required="required" />
        <input type="text" name="week" placeholder="Week" required="required" />
		<input type="text" name="center_id" placeholder="Center id" required="required" />
        <input type="text" name="city_code" placeholder="City Code" required="required" />
        <input type="text" name="region_code" placeholder="Region Code" required="required" />
        <input type="text" name="center_type" placeholder="Center Type" required="required" />
        <input type="text" name="op_area" placeholder="Op Area" required="required" />
        <input type="text" name="meal_id" placeholder="Meal Id" required="required" />
        <input type="text" name="category" placeholder="Category" required="required" />
        <input type="text" name="cuisine" placeholder="Cuisine" required="required" />
        <input type="text" name="emailer_for_promotion" placeholder="Emailer for Promotion" required="required" />
        <input type="text" name="homepage_featured" placeholder="homepage featured" required="required" />
        <input type="text" name="checkout_price" placeholder="Checkout Price" required="required" />
        <input type="text" name="base_price" placeholder="Base Price" required="required" />
        
		
		
		 <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
